h1 {
    text-align: center;
    font-family: 'Jersey 10', sans-serif;
    font-size: 75px;
    color:white;
    text-shadow: 0 0 10px rgba(255,255,255,0.3);
}

body {
    font-family:'Arial';
    font-size: 20px;
    position: relative; 
    background: radial-gradient(circle at center, #2b2b2b 0%, #121212 80%); 
    z-index: 0; 
    animation: moveBg 10s infinite alternate;
}

@keyframes moveBg {
    from { background-position: 0% 50%; }
    to { background-position: 100% 50%; }
}

.leaderboard-container {
    width: 100%;
    max-width: 1150px; 
    margin: 100px auto;
    margin-top: 20px; 

    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;

    box-shadow: 
        0 0 10px rgba(255, 255, 255, 0.2),
        0 0 22px rgba(255, 255, 255, 0.15), 
        0 0 45px rgba(255, 215, 0, 0.1); 
    animation: glowPulse 3s ease-in-out infinite alternate; 
    
    justify-content: center; 
    overflow: hidden;
}

@keyframes glowPulse {
    from {
        box-shadow: 
            0 0 6px rgba(255, 255, 255, 0.15),
            0 0 16px rgba(255, 255, 255, 0.1),
            0 0 30px rgba(255, 215, 0, 0.08);
    } to {
        box-shadow: 
            0 0 12px rgba(255, 255, 255, 0.3),
            0 0 27px rgba(255, 255, 255, 0.2),
            0 0 55px rgba(255, 255, 255, 0.15); 
    }
}

table {
    width: 100%;
    margin: 0 auto; 
    border-collapse: collapse; 
    color: white; 
    border: none; 
}

th {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px; 
    font-size: 25px; 
    border: none;
}

td {
    padding: 15px; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border: none; 
}

.fade-in {
    opacity: 0;
    transform: translateY(20px); 
    animation: fadeInUp 0.5s ease forwards;
}

.fade-in:nth-child(1) { animation-delay: 0.1s;}
.fade-in:nth-child(2) { animation-delay: 0.2s; }
.fade-in:nth-child(3) { animation-delay: 0.3s; }

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

tbody tr {
    background: rgba(255,255,255,0.02);
}

tbody tr td {
    border-top: 10px solid transparent;
}

tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

.rank[data-rank="1"]::before{
    font-size: 20px; 
    content: "🥇 ";
}

tr[data-rank="1"] {
    background: linear-gradient(
        90deg,
        rgba(255, 217, 0, 0.34),
        rgba(255,215,0,0.05)
    );
    box-shadow: 0 0 20px rgba(255,215,0,0.4);
}

.rank[data-rank="2"]::before{
    font-size: 20px; 
    content: "🥈 ";
}

.rank[data-rank="3"]::before{
    font-size: 20px; 
    content: "🥉 ";
}

tr:nth-child(2) {
    background: linear-gradient(90deg, #c0c0c033, transparent); 
}

tr:nth-child(3) {
    background: linear-gradient(90deg, #cd7f3233, transparent);
}
