<!DOCTYPE html>
<html>
    <head>
        <title>ChronoQuest Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', path='display.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    </head>

    <body> 
        <h1>ChronoQuest Leaderboard</h1>

        <div class="leaderboard-container">
            <table border="1">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody id="leaderboard-table">
                </tbody>        
            </table>
        </div>

        <script>
            async function loadLeaderboard() {
                const response = await fetch("/leaderboard");
                const data = await response.json(); 

                const table = document.getElementById("leaderboard-table"); 
                table.innerHTML = "";

                data.forEach(entry => {
                    const row = document.createElement("tr");

                    row.setAttribute("data-rank", entry.rank);

                    row.innerHTML = `
                        <td class="rank" data-rank="${entry.rank}">${entry.rank}</td>
                        <td>${entry.name}</td>
                        <td>${entry.score}</td>
                    `;

                    table.appendChild(row);
                });
            }
            
            loadLeaderboard(); 
            setInterval(loadLeaderboard, 2000); 
        </script>
    </body>
</html> 
