<!-- <!DOCTYPE html>
<html>
    <head>
        <title>ChronoQuest Leaderboard</title>
        <link rel="stylesheet" href="{{ url_for('static', path='display.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
    </head>

    <body> 
        <h1>ChronoQuest Leaderboard</h1>

        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboard-table">
            </tbody>        
        </table>

        <script>
            async function loadLeaderboard() {
                const response = await fetch("/leaderboard");
                const data = await response.json(); 

                const table = document.getElementById("leaderboard-table"); 
                table.innerHTML = "";

                data.forEach(entry => {
                    const row = `<tr>
                        <td>${entry.name}</td>
                        <td>${entry.score}</td>
                    </tr>`;
                    table.innerHTML += row;
                })
            }
            
            loadLeaderboard(); 
            setInterval(loadLeaderboard, 2000); 
        </script>
    </body>
</html> --> 

<!DOCTYPE html>
<html>
    <body>
        <h1> it works lol </h1>
    </body>
</html>